:root {
    --size: 1.3;
}
.terminal {
  --color: white;
  --background: black;
  --link-color: lightblue;
  width: 800px;
  height: 200px;
}
.cmd {
    --color: white;
}
.cmd-prompt {
    --color: darkblue;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

footer {
  position: fixed;
  width: 100%;
  color: white;
  background-color: darkblue;
  bottom: 0;
  z-index: 10;
}

console {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 750px;
}
